.filterContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 0px;
}

.label {
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 0px;
  font-size: 18px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #707070;
  width: 304px;
  border-radius: 4px;
  box-shadow: rgba(58, 61, 64, 0.372) 0px 3px 10px 3px;
}
