.formContainer {
  width: 350px;
  padding: 10px;
  margin: 12px auto;

  border: 2px solid #ffc300;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(58, 61, 64, 0.372) 0px 3px 10px 3px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.regHeader {
  color: #ffc300;
  text-align: center;
  margin-bottom: 10px;
}

.btnRegisterIn {
  padding: 8px 16px;

  background-color: #ee285b;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 15px rgba(255, 0, 130, 0.5);
  margin-bottom: 10px;
}

.btnRegisterIn:hover {
  background-color: #ab0839f0;
}
.btnRegisterIn:focus {
  outline: 0;
}

.btnRegisterIn:active{
  transform: scale(0.9);
  background-color: darken(#ee285b, 20%);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.label {
  display: flex;
  gap: 5px;
  flex-direction: column;
  
}

.redirect {
  font-weight: bold;
    padding-left: 12px;
}

.input {
  width: 240px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.error {
  color: #ab0839f0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.redirect {
  font-weight: bold;
    font-size: 18px;
    color: #ab0839f0;
}