.navigation {
  display: flex;
  gap: 20px;
  list-style: none;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0px;
  }
}



.navItem {
    color: #fafafa;
    font-weight: bold;
    
  text-decoration: none;
    }
    
.navItem:hover {
      color: #ffc300;
    }
   
