.userMenu {
  display: flex;

}

.userName {
  
  align-items: center;
  
    font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
  color: #ffc300;
}

.logoutBtn {
  padding: 5px 10px;
  background-color: #ee285b;
  color: #fff;
  font-size: 20px;
  display: block;
  align-items: center;
  align-items: flex-end;
  border: none;
  border-radius: 8px;
  transition: transform ease-in 0.1s 
}

.logoutBtn:hover {
  background-color: #ab0839f0;
}
.logoutBtn:focus {
  outline: 0;
}

.logoutBtn:active{
  transform: scale(0.9);
  background-color: darken(#ff0081, 20%);
}